header.c-page-head
  a.c-page-head__logo(href="/") Kasper Mikiewicz
  //nav.c-page-head__nav
  //  ul.c-page-head__nav-list
  //    each url, name in theme.nav
  //      li.c-page-head__nav-item
  //        a.c-page-head__nav-link(href=url_for(url))= name

if page.current == 1
  h1.c-page-hero
    | Front-End Meister 
    span.c-page-hero__amp &amp; 
    | Laravel Developer
