section.c-sidebar__item
  p.o-join.o-join--middle.o-join--small
    img.o-avatar(src="/images/avatar.jpg", alt="Kasper Mikiewicz" width=48, height=48) 
    b Kasper Mikiewicz
  p.
    I'm into Front-End since 2008, I'm also Back-End developer &amp; web designer.
  p.
    I live in Poland, I like to <a href="http://twitter.com/idered">tweet</a>, 
    <a href="http://dribbble.com/idered">design</a> and 
    <a href="http://github.com/idered">share code</a>. We can <a href="mailto:kasper.mikiewicz@gmail.com">work together</a> if you want.
  p 
    a(href="https://twitter.com/Idered", class="twitter-follow-button") Follow @Idered

section.c-sidebar__item
  h3.c-sidebar__header Projects
  .c-projects
    figure.c-projects__item
      a(href="http://lab.idered.pl/editr")
        img.c-projects__image(src="/images/project-editr.jpg")
      h4.c-projects__title
        a(href="http://lab.idered.pl/editr") Editr.js
      p.c-projects__desc.
        Editr is a simple, self-hosted app that creates an interface for 
        editing and sharing any HTML, CSS, JS projects. 
        Packed with a bunch of nice features.
    figure.c-projects__item
      a(href="http://lab.idered.pl/like-button/demo/")
        img.c-projects__image(src="/images/project-like-btn.png")
      h4.c-projects__title
        a(href="http://lab.idered.pl/like-button/demo/") Like button
      p.c-projects__desc.
        Easy way to add custom like button for your projects.
  a.o-btn.o-btn--primary.u-1-1(href="http://lab.idered.pl") View all projects
