.c-page-foot {
    background: #fafafa;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 3px 3px;
    color: #999;
    font-size: 12px;
    text-align: center;
    padding: 21px 0;

    a {
        font-weight: bold;
    }
}