h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre,
%margin-bottom {
    margin-bottom: $spacing-unit;
    margin-bottom: ($spacing-unit / $font-size) * 1rem;
}

ul, ol, dd,
%margin-left {
    margin-left: 2 * $spacing-unit;
    margin-left: (2 * $spacing-unit / $font-size) * 1rem;
}
