@mixin at($mq) {
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints {
        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        @if $mq == $alias and $condition {
            @media #{$condition} {
                @content;
            }
        }
    }
}