title: Case Studies
date: 2015-08-08 17:18:22
layout: clean
---

h1.c-page__title Case studies

ul.c-case-studies
  li.c-case-studies__item
    img.c-case-studies__image(src="/images/case-study-tookapic.png")
    a.c-case-studies__link(href="/case-studies/tookapic") 
      h2.c-case-studies__title Tookapic
        div.c-case-studies__desc 365 project for photographers
  li.c-case-studies__item
    img.c-case-studies__image(src="/images/case-study-idered.png")
    a.c-case-studies__link(href="/case-studies/idered") 
      h2.c-case-studies__title Idered
        div.c-case-studies__desc Personal website